APP_USERNAME=YOUR_APP_USERNAME
APP_PASSWORD=YOUR_APP_PASSWORD
MAGENTO_USERNAME=YOUR_MAGENTO_USERNAME
MAGENTO_PASSWORD_DIV1=YOUR_MAGENTO_PASSWORD_DIV1
MAGENTO_PASSWORD_DIV2=YOUR_MAGENTO_PASSWORD_DIV2
MAGENTO_PASSWORD_DIV3=YOUR_MAGENTO_PASSWORD_DIV3
MAGENTO_PASSWORD_DIV4=YOUR_MAGENTO_PASSWORD_DIV4
MAGENTO_PASSWORD_DIV5=YOUR_MAGENTO_PASSWORD_DIV5
MAGENTO_PASSWORD_DIV6=YOUR_MAGENTO_PASSWORD_DIV6
MAGENTO_PASSWORD_DIV7=YOUR_MAGENTO_PASSWORD_DIV7
MAGENTO_PASSWORD_DIV8=YOUR_MAGENTO_PASSWORD_DIV8
MAGENTO_PASSWORD_DIV9=YOUR_MAGENTO_PASSWORD_DIV9
MAGENTO_PASSWORD_DIV10=YOUR_MAGENTO_PASSWORD_DIV10